*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

body{
  font-family: 'Fredoka', sans-serif;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* header */

header{
  padding-top: 40px;
  text-align: center;
}

h1{
  color: #E64970;
}

.description{
  margin-top: 30px;
}

/* main */

main{
  padding-top: 40px;
}  

.space{
  float: left;
  width: calc(100% / 3);
  padding: 20px;
  min-width: 350px;
}

.card{
  background-color: black;
  color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .7);
}

img{
  float: left;
  width: 100px;
}

.right-card{  
  float: left;
  padding: 10px 15px;
}

.name{
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  margin-bottom: 5px;
}

.job{
  font-size: 15px;
  color: white;
  margin-bottom: 5px;
}

.mail{
  font-size: 16px;
  color: #46BAF3;
}

a{
  text-decoration: none;
}